.font-text{
    font-family:  'Open Sans', sans-serif;
    color: #ffff;

}
.banner-text {
    font-weight: 700;
    font-size: 2rem;
    line-height: 2rem;
    color: #ffff; }

.banner-info{
    font-size: 1.375rem;
    font-weight: 600;
    color: #f0e8e8;
     display: inline-block;
position: relative; }

.banner-info::after{
    content: "";
    width: 100%;
    height: 0.1875rem;
    background-color: rgb(192, 189, 189);
    position: absolute;
    left: 0;
    bottom:0;
}
.card-links{
    text-decoration: none;
    color:#2B2332;
}
.card-links:hover{
    color:#454c57;
    text-decoration: none;
}
